 mark {
  background: #fff;
  color: #000;
  font-weight: 600;
 }

 .page-header {
 padding-bottom: 10%px;
 margin-right: 10%px;
 margin-left: 10%px;
 border-bottom:none;
 }

 .navbar-inverse {
  color:#3A3838;
  background-size: contain;
  background-repeat:no-repeat;
  background-position:35%;  
  background-color: inherit; 
  border-color: #000;
  border-style: dotted;
  background-color: #ffffff;
 }

@media (min-width: 1200px) {
.navbar-inverse {
background-image:url('http://canders1.github.io/img/tree_border.png');
}
}

navbar-inverse .navbar-brand {
color: #81F7BE;
}

.navbar-inverse .navbar-nav > li > a {
color: #000;
}

.navbar-inverse .navbar-brand > li > a {
color: #000;
}

.navbar-toggle {
background-color: #81F7BE;
}

.navbar-right {
padding: 10px 15px;
}

 footer {
  height: 5%;
  font-size: small;
  color:#3A3838;
  background-image:url('../img/tree_border.png');
  background-size: contain;
  background-repeat:repeat-x;
  background-position:center;  
  background-color: inherit; 
  padding: 1% 3%;
  margin-bottom: 1%;
 }

.navbar-brand {
 padding: 0px 15px;
}

 footer h5 {
   font-weight: bold;
 }

 h1 {
 font-weight:lighter;
  }
 
 footer img {
  margin-left:  .25in;
  margin-right: .25in;    
  } 
  
 hr {
  margin-top: 21px;
  margin-bottom: 10px;
  border: 0px;
 }

.carousel-control {
position: absolute;
top: 80%;
left: 0;
bottom: 0;
width: 10%;
opacity: 0.5;
filter: alpha(opacity=50);
font-size: 50px;
color: #000;
text-align: center;
}
.carousel-control.right {
background-image: none;
}
.carousel-control.left {
background-image: none;
}

.carousel-caption {
    color: #000;
    font-size: 20px;
}

@media (min-width: 100px) {
.caption-read {
    font-size: 10px;
}
}   

@media (min-width: 768px) {
    .caption-read {
        font-size: 12px;
    }    
}

@media (min-width: 982px) {
    .caption-read {
        font-size: 16px;
    }    
}

@media (min-width: 1200px) {
    .caption-read {
        font-size: 18px;
    }    
}

.project {
  font-weight: bold;
}



