<!DOCTYPE html>
<html lang="en">
    
  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
        
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="http://canders1.github.io/js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://canders1.github.io/js/bootstrap.min.js"></script>

    </body>
</html>